@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Yuji Syuku';
  src: url('../public/fonts/Yuji_Syuku.ttf');
  font-weight: normal;
  font-style: normal;
}
/*
@font-face {
  font-family: 'Amiko-Bold';
  src: url('../public/fonts/Amiko-Bold.tff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Amiko Regular';
  src: url('../public/fonts/Amiko-Regular.tff');
  font-weight: normal;
  font-style: normal;
}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #FFFEE7;
}

/* Footer */
footer {
  bottom: 0;
  border-style: inset;
  text-align: center;
  padding-bottom: 1em;
}

/* Navbar */
.navbar {
  list-style-type: none;
}

nav li {
  background-color: #EEFFE8;
}

li {
  float: left;
  padding-right: 1em;
  padding-left: 1em;
}

a {
  text-decoration: none;
  color: #2F261D;
}

h2 {
  text-align: center;
}

nav li a:hover {
  text-decoration: underline;
}

header {
 padding-left: 2em;
 background-color: #D6EECD;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

img {
  border-radius: 4px;
}

.item {
  display: block;
  flex: 1;
  margin-top: 1em;
}

.settings-btn {
  position: fixed;
  z-index: 2;
  display: block;
  top: 0;
  right: 0;
  border-radius: 100%;
  height: 7em;
  width: 7em;
  margin-top: 1.5em;
  margin-right: 2em;
}

.settings-btn:hover {
  cursor: pointer;
}

.settings-box {
  display: hidden;
  z-index: 3;
  position: fixed;
  top: 7em;
  right: 0;
  margin-top: -1.7em;
  height: 10em;
  width: 20em;
  background-color: #DAE7D5;
  border-radius: 7px;
}

.cart-btn {
  background-color: pink;
  font-size: 1rem;
  font-weight: bold;
}

.cart-btn:hover {
  cursor: pointer;
  
}

.product {
  padding: 1em 1em 1em 1em;
  background-color: #fff;
  border-style: inset;
  border-radius: 10px;
}

.main-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.category {
  background-color: #2F261D;
  padding: 0.7em 0.7em 0.7em 0.7em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

h1, h2, h4, p, a {
  color: #2F261D;
}

.logo {
  font-family: 'Yuji Syuku', sans-serif;
  font-size: 2rem;
}

.page-title {
  text-decoration: underline;
}

.flex-container > div > h3 {
  display: inline-block;
  padding: 0.3em;
  border-radius: 5px;
  color: #fff;
  background-color: #2F261D;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  position: relative;
}

.mySlides > img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.numbertext {
  background-color: black;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  z-index: 0;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: black;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
  margin-left: auto;
  margin-right: auto;
}

.active {
  background-color: #717171;
}

.mySlides > img {
  max-width: 500px;
  height: auto;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (min-width: 48rem) {
  .flex-container {
    flex-direction: row;
  }
}