@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Yuji Syuku';
  src: url('../public/fonts/Yuji_Syuku.ttf');
  font-weight: normal;
  font-style: normal;
}
/*
@font-face {
  font-family: 'Amiko-Bold';
  src: url('../public/fonts/Amiko-Bold.tff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Amiko Regular';
  src: url('../public/fonts/Amiko-Regular.tff');
  font-weight: normal;
  font-style: normal;
}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #FFFEE7;
}

/* Footer */
footer {
  bottom: 0;
  border-style: inset;
  text-align: center;
  padding-bottom: 1em;
  background-color: #EEFFE8;
}

/* Navbar */
.navbar {
  display: none;
}

nav {
  background-color: #EEFFE8;
}

li {
  font-size: 1.1rem;
  padding-right: 1em;
  padding-left: 1em;
}

a {
  text-decoration: none;
  color: #2F261D;
}

h2 {
  text-align: center;
}

header {
  position: fixed;
  padding-top: 0.5em;
  z-index: 4;
  width: 100%;
  background-color: #D6EECD;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

img {
  border-radius: 4px;
}

.item {
  display: block;
  flex: 1;
  margin-top: 1em;
}

.header-btn {
  z-index: 2;
  border-radius: 12px;
  height: 3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  font-size: 1rem;
  color: #fff;
  background-color: #2F261D;
  border-color: #fff;
}

.menu-btn {
  height: 3em;
  border-radius: 12px;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 1em;
  margin-right: 1em;
  font-size: 1rem;
  color: #fff;
  background-color: #2F261D;
  border-color: #fff;
}

.menu-btn:active {
  border-color: #2F261D;
  text-decoration: underline;
}

.header-btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #2F261D;
}

input[type="radio"] {
  display: none;
}

.radio-container {
  display: inline-block;
  padding-right: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.custom-radio {
  position: absolute;
  right: 0;
  margin-top: 0.1em;
  margin-right: 3em;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #2F261D;
  border-radius: 50%;
}

.radio-container input:checked + .custom-radio::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #2F261D;
  border-radius: 50%;
}

.radio-label {
  font-size: 1.1rem;
  margin-left: 0.5em;
}

.header-btn:active {
  text-decoration: underline;
  background-color: #fff;
  color: #2F261D;
  border-color: #2F261D;
}

.disable-click {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.settings-box {
  display: hidden;
  z-index: 5;
  position: fixed;
  top: 8em;
  right: 0;
  margin-top: -4.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 20em;
  background-color: #fff;
  border-radius: 7px;
  border-style: solid;
}

.cart-btn {
  background-color: pink;
  font-size: 1rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.cart-btn:hover {
  cursor: pointer;
  
}

.product {
  padding: 1em 1em 1em 1em;
  background-color: #fff;
  border-style: inset;
  border-radius: 10px;
}

.category {
  background-color: #2F261D;
  padding: 0.7em 0.7em 0.7em 0.7em;
  margin-top: -1.4em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

h1, h2, h4, p, a {
  color: #2F261D;
}

.logo {
  margin-left: 0.5em;
  font-family: 'Yuji Syuku', sans-serif;
  font-size: 2rem;
}

.page-title {
  text-decoration: underline;
}

.category-title {
  display: inline-block;
  margin-left: 0.2em;
  padding: 0.3em;
  border-radius: 5px;
  color: #fff;
  background-color: #2F261D;
}

.numbertext {
  background-color: #2F261D;
  border-radius: 3px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  z-index: 0;
  position: absolute;
  bottom: 0;
  width: auto;
  padding: 16px;
  color: #2F261D;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #FFF8F8;
  border-radius: 10px;
  border-style: solid;
  border-color: #2F261D;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow-bg {
  background-color: #2F261D;
}

.settings-btn {
  width: 50%;
  background-color: #2F261D;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
}

.accessibility-btn {
  position: absolute;
  right: 0;
  margin-top: -3em;
  margin-bottom: -1em;
  z-index: 5;
}

.close-btn, .reset-btn {
  display: block;
  margin-left: 0.5em;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #2F261D;
}

.prev:hover, .next:hover {
  color: #fff;
  background-color: #2F261D;
  border-color: #fff;
}

.slideshow-container {
  margin-top: 8em; /* resten av innehållet förutom headern */
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  text-align: center;
  background-image: url('../public/images/main.jpg'); /* byt ut beroende på slide */
  max-width: 1300px;
  height: 30em;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.shadow-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.5;
  pointer-events: none;
  background-color: black;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
  margin-left: auto;
  margin-right: auto;
}

.active {
  background-color: #717171;
}

.slideshow-container {
  position: relative;
}

.slide-1 {
  background-image: url('../public/images/main.jpg');
}

.slideshow-text {
  position: absolute;
  top: 7%;
  width: 400px;
  left: 0;
  background-color: #FFF8F8;
  display: inline-block;
  border-radius: 12px;
}

.btn-container {
  text-align: right;
}

.slideshow-caption {
  top: 5%;
}

.slideshow-p {
  top: 12%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

body {
  position: relative;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.8;
  pointer-events: none;
  background-color: grey;
}

.alert-text {
  position: fixed;
  font-size: 1.2rem;
  margin-left: 4em;
  margin-top: 1em;
  z-index: 5;
}

.product-price {
  text-align: center;
}

.brushpage-img {
  max-width: 1300px;
  height: 400px;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (min-width: 48rem) {

  .flex-container {
    flex-direction: row;
  }

  .navbar {
    display: block;
    list-style-type: none;
  }

  nav li {
    float: left;
    font-size: 1.2rem;
    margin-top: 0.8em;
  }
  
  nav li a:hover {
    text-decoration: underline;
  }

  .menu-btn {
    display: none;
  }

  .accessibility-btn {
    margin-top: -0.1em;
  }
}